{% load static %}
    <section class="container py-5">
        <div class="row text-center pt-3">
            <div class="col-lg-6 m-auto">
                <h1 class="h1">Categorías populares</h1>
                <p>
                    Éstas son las categorías mas populares del mes.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-4 p-5 mt-3">
                <a href="{% url 'products:comprar' %}"><img src="{% static '/img/category_img_01.jpg' %}" class="rounded-circle img-fluid border"></a>
                <h5 class="text-center mt-3 mb-3">Relojes</h5>
                <p class="text-center"><a class="btn btn-success" href="{% url 'products:comprar' %}">Comprar</a></p>
            </div>
            <div class="col-12 col-md-4 p-5 mt-3">
                <a href="{% url 'products:comprar' %}"><img src="{% static '/img/category_img_02.jpg' %}" class="rounded-circle img-fluid border"></a>
                <h2 class="h5 text-center mt-3 mb-3">Zapatillas</h2>
                <p class="text-center"><a class="btn btn-success" href="{% url 'products:comprar' %}">Comprar</a></p>
            </div>
            <div class="col-12 col-md-4 p-5 mt-3">
                <a href="{% url 'products:comprar' %}"><img src="{% static '/img/category_img_03.jpg' %}" class="rounded-circle img-fluid border"></a>
                <h2 class="h5 text-center mt-3 mb-3">Accessorios</h2>
                <p class="text-center"><a class="btn btn-success" href="{% url 'products:comprar' %}">Comprar</a></p>
            </div>
        </div>
    </section>
    