
    <footer class="bg-dark" id="tempaltemo_footer">
        <div class="container">
            <div class="row">
                {% load static %}
                <div class="col-md-4 pt-5">
                    <img src="{% static 'img/apple-icon.png' %}" alt="Logo Usa2" class="logo-img" style="width: 200px; height: 200px; object-fit: cover;"><br><br>
                    <ul class="list-unstyled text-light footer-link-list">
                        <li>
                            <i class="fas fa-map-marker-alt fa-fw"></i>
                            Calle Falsa 123, Springfield, USA
                        </li>
                        <li>
                            <i class="fa fa-phone fa-fw"></i>
                            <a class="text-decoration-none" href="tel:010-020-0340">0810-345-678</a>
                        </li>
                        <li>
                            <i class="fa fa-envelope fa-fw"></i>
                            <a class="text-decoration-none" href="mailto:info@company.com">info@usa2.com</a>
                        </li>
                    </ul>
                </div>

                <div class="col-md-4 pt-5">
                    <h2 class="h2 text-light border-bottom pb-3 border-light">Productos</h2>
                    <ul class="list-unstyled text-light footer-link-list">
                        <li><a class="text-decoration-none" href="#">De Lujo</a></li>
                        <li><a class="text-decoration-none" href="#">Sport</a></li>
                        <li><a class="text-decoration-none" href="#">Zapatillas de Hombre</a></li>
                        <li><a class="text-decoration-none" href="#">Zapatillas de Mujer</a></li>
                        <li><a class="text-decoration-none" href="#">Populares</a></li>
                        <li><a class="text-decoration-none" href="#">Accessorios</a></li>
                        <li><a class="text-decoration-none" href="#">Oficina</a></li>
                    </ul>
                </div>

                <div class="col-md-4 pt-5">
                    <h2 class="h2 text-light border-bottom pb-3 border-light">Páginas</h2>
                    <ul class="list-unstyled text-light footer-link-list">
                        <li><a class="text-decoration-none" href="{% url 'products:home' %}">Home</a></li>
                        <li><a class="text-decoration-none" href="{% url 'products:about' %}">Acerca de mí</a></li>
                        <li><a class="text-decoration-none" href="{% url 'products:comprar' %}">Comprar</a></li>
                        <li><a class="text-decoration-none" href="{% url 'products:vender' %}">Vender</a></li>
                        
                    </ul>
                </div>

            </div>

            <div class="row text-light mb-4">
                <div class="col-12 mb-3">
                    <div class="w-100 my-3 border-top border-light"></div>
                </div>
                <div class="col-auto me-auto">
                    <ul class="list-inline text-left footer-icons">
                        <li class="list-inline-item border border-light rounded-circle text-center">
                            <a class="text-light text-decoration-none" target="_blank" href="http://facebook.com/"><i class="fab fa-facebook-f fa-lg fa-fw"></i></a>
                        </li>
                        <li class="list-inline-item border border-light rounded-circle text-center">
                            <a class="text-light text-decoration-none" target="_blank" href="https://www.instagram.com/"><i class="fab fa-instagram fa-lg fa-fw"></i></a>
                        </li>
                        <li class="list-inline-item border border-light rounded-circle text-center">
                            <a class="text-light text-decoration-none" target="_blank" href="https://twitter.com/"><i class="fab fa-twitter fa-lg fa-fw"></i></a>
                        </li>
                        <li class="list-inline-item border border-light rounded-circle text-center">
                            <a class="text-light text-decoration-none" target="_blank" href="https://www.linkedin.com/"><i class="fab fa-linkedin fa-lg fa-fw"></i></a>
                        </li>
                    </ul>
                </div>
                
            </div>
        </div>

        <div class="w-100 bg-black py-3">
            <div class="container">
                <div class="row pt-2">
                    <div class="col-12">
                        <p class="text-left text-light">
                           <strong> Copyright &copy; 2025 Lionel Carreras</strong> 
                            | Supervisado por: <a rel="sponsored" href="https://coderhouse.com" target="_blank"><strong>CoderHouse</strong></a>
                        </p>
                    </div>
                </div>
            </div>
        </div>

    </footer>